.messageBody {
  border: 1px solid lightgrey;
  border-radius: 2px;
  min-height: 85px;
}

.form-group {
  margin-bottom: 2px;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.toolBar.row {
  margin-bottom: 2px;
}

.authorLabel {
  display: block;
}

ul {
  list-style-type: none;
}

ul.tools {
  -webkit-padding-start: 0px;
}

ul.tools > li  {
  display: inline;
}

ul.tools > li > input.form-control {
  display: inline;
  width: 190px;
}

#container {
  overflow: scroll;
  min-height: 125px;
  min-width: 285px;
  padding-top: 15px;
}

.thumbnail {
  border: 0px;
}